body {
    color: black;
}

.entirePage {
    
    height: 86vh;
    text-align: center;
    background-color: #E8E8E8;
}

h1 {
   margin-top: 0px;
   padding-top: 50px;
}

label, h1 {
    color: black;
}

input {
    width: 20%;
    border: none;
    background-color: #E8E8E8;
    border-bottom: 2px solid black;
    color: black;
}

.field {
    padding: 2px;
    padding-bottom: 8px;
}


button {
    padding: 20px;
    background-color: #E8E8E8;
    color: black;
    border: 2px solid black;
    border-radius: 8px;
    width: 15%;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}
