
    * {
        background-color: #E8E8E8;
   }
    .main {
        margin: 0;
   }
    .data {
        width: 100%;
   }

   h1 {
       margin-top: 0;
       padding-top: 5vh;
       text-align: center;
   }


    .left, .right {
        padding-top: 5vh;
        float: left;
        width: 50%;
        color: black;
        margin-top: 4vh;
        text-align: center;
   }
    .left > label {
        padding-bottom: 22px;
   }
    .right {
        margin-top: 22px;
   }
    .right > label {
        padding-bottom: 28px;
   }
    label{
        display: inline-block;
        float: left;
        clear: left;
        width: 250px;
        text-align: right;
        padding-bottom: 20px;
        padding-right: 10px;
   }
    input, textarea {
        display: inline-block;
        float: left;
        width: 300px;
        border: none;
        background-color: #E8E8E8;
        border-bottom: 2px solid black;
        color: black;
   }
    textarea {
        resize: none;
        border: 2px solid black;
        margin-bottom: 20px;
   }
    button {
        padding: 20px;
        background-color: #E8E8E8;
        color: black;
        border: 2px solid black;
        border-radius: 8px;
        float: left;
        margin-top: 50px;
        width: 30%;
        margin-left: 35% 
   }
    .entirePage {
        height: 115vh;
   }


@media screen and (max-width: 1000px) {
    .left, .right {
        float: none;
        margin-top: 0;
   }
    label {
        margin-bottom: 0.5vh;
   }
    input, textarea {
        margin-bottom: 5vh;
   }
    .main {
        height: 330vh;
   }
}


@media screen and (max-width: 370px) {
    .left, .right {
        float: none;
        margin-top: 0;
   }
    label {
        margin-bottom: 0.5vh;
   }
    input, textarea {
        margin-bottom: 5vh;
   }
    .main {
        height: 430vh;
   }
}
