
@{
    ViewData["Title"] = "Errorweergave";
}

<h2>Deze groep heeft al alle oefeningen opgelost.</h2>

<a asp-action="SelectGroup" asp-controller="Sessie" method="get" class="btn btn-primary" style="margin-bottom : 10px">Ga terug naar groepen.</a>