
@{
    ViewData["Title"] = "Sessie nog niet beschikbaar";
}

<h2>Deze sessie is nog niet beschikbaar.</h2>

<a asp-action="Index" asp-controller="Sessie" method="get" class="btn btn-primary" style="margin-bottom : 10px">Ga terug naar sessie.</a>