<div class="entirePage">
  <div class="ui card">
    <div class="header">
      {{movie.title}}
    </div>

    <div class="released">
      released on {{movie.released}}
    </div>

    <div class="rating">
      rating: {{movie.rating}}/10
    </div>

    <div class="content">
      <div class="poster">
        <img src={{movie.poster}} style="width:100%;">
      </div>
      <div class="review">
        <b>Review: </b> {{movie.review}}
      </div>
    </div>

    <div class="bottom">
      <div class="description">
        <b>Story:</b> {{movie.plot}}
      </div>

      <div class="meta">
        <b>Starring: </b> {{movie.actors}}
      </div>

      <div class="meta">
        <b>Genre: </b> {{movie.genres}}
      </div>
    </div>
  </div>
  <div class="filling"></div>
</div>