
@{
    ViewData["Title"] = "Bevroren";
}

<h2>Bevroren</h2>
<p>De tijd is op! Je bent nu bevroren. Vraag hulp aan een leerkracht.</p>
<form asp-action="Index" asp-controller="Oefening" method="post">
    <button class="btn btn-primary" type="submit">Ga verder</button>
</form>