
@{
    ViewData["Title"] = "Bevroren";
}

<h2>Bevroren</h2>
<p>Het spel staat vast. Vraag uitleg aan de leerkracht en klik daarna op verder!</p>


<form asp-action="Index" asp-controller="Oefening" method="get">
    <button class="btn btn-primary">Verder</button>
</form>
